<check if="{{ @is_confirmation != 'disabled' }}">
    <fieldset>
        <div class="row">
            <div class="col-md-12" style="">
                <span class="inline-group">
                    <label class="radio">Do you need Round Trip?</label>
                    <label class="radio">
                        <input type="radio" name="choose_round_trip" value="1" <check if="{{ @info[choose_round_trip] == 1}}">checked="checked"</check>>
                        <i></i>Yes</label>
                    <label class="radio">
                        <input type="radio" name="choose_round_trip" value="0" <check if="{{ @info[choose_round_trip] != 1}}">checked="checked"</check>>
                        <i></i>No</label>
                </span>
            </div>
        </div>
    </fieldset>
</check>
<fieldset id="has-round-trip" style="display: <check if="{{ @info[choose_round_trip] != 1}}"><true>none</true><false>block</false></check>;">
    <div class="row">
        <div class="col-md-12 title" style="background-color: {{ @title_bg_color }}; color: {{ @title_tx_color }};">
            Round-Trip Information
        </div>
        <set partial="pick_up" />
        <set text="Pick-up" />
        <set trip="roundtrip" />
        <div class="col-md-6">
            <include href="reservation/_partials/_location/location.htm"/>
        </div>
        <set partial="drop_off" />
        <set text="Drop-Off" />
        <div class="col-md-6">
            <include href="reservation/_partials/_location/location.htm"/>
        </div>
    </div>
</fieldset>