<fieldset>
    <div class="row">
        <div class="col-md-12 title" style="background-color: {{ @title_bg_color }}; color: {{ @title_tx_color }};">
            Payment Information
        </div>
        <section class="col-md-12">
                <label class="checkbox"><input type="checkbox" name="payment[cc_on_file]" id="cc_on_file" <check if="{{ @info[payment][cc_on_file]}}">checked="checked"</check>><i></i>Is your Credit Card in our file? </label>
        </section>
        <div class="row" id="cc" style="display: <check if="{{ @info[payment][cc_on_file]}}"><true>none</true><false>block</false></check>;">
            <div class="col-md-12">
                <set payment_field = 'cc_company' />
                <set payment_text  = 'Card Company' />
                <section class="col col-md-6">
                    <label for="payment[{{ @payment_field }}]" class="col-sm-4">{{@payment_text}} {{ @is_required('payment|'.@payment_field) }}</label>
                    <div class="col-sm-8">
                        <label class="select"> 
                            <select name="payment[{{ @payment_field }}]" id="cc_company">
                                <check if="{{ (@credit_card_not_set != false) }}">
                                    <option value="">{{ @credit_card_not_set }}</option>
                                </check>
                                <repeat group="{{ @credit_cards }}" value="{{ @credit_card }}">
                                    <option value="{{ @credit_card }}" <check if="{{ (@credit_card == @info['payment'][@payment_field]) }}">selected</check>>{{ @credit_card }}</option>
                                </repeat>
                            </select>
                            <i></i>
                        </label>
                    </div>
                </section>
            </div>
            <div class="col-md-6">
                <set payment_icon  = 'credit-card' />
                <set payment_field = 'cc_number' />
                <set payment_text  = 'Card Number' />
                <section class="col col-xs-12">
                    <label for="payment[{{@payment_field}}]" class="col-sm-4">{{@payment_text}} {{ @is_required('payment|'.@payment_field) }}</label>
                    <div class="col-sm-8">
                        <label class="input">
                            <i class="icon-append fa fa-{{ @payment_icon}}"></i>
                            <input type="text" name="payment[{{@payment_field}}]" placeholder="{{@payment_text}}" value="{{ @info[payment][@payment_field] }}" id="cc_number">
                        </label>
                    </div>
                </section>
                
                <set payment_icon  = 'credit-card' />
                <set payment_field = 'cc_name' />
                <set payment_text  = 'Name on Card' />
                <section class="col col-xs-12">
                    <label for="payment[{{@payment_field}}]" class="col-sm-4">{{@payment_text}} {{ @is_required('payment|'.@payment_field) }}</label>
                    <div class="col-sm-8">
                        <label class="input">
                            <i class="icon-append fa fa-{{ @payment_icon}}"></i>
                            <input type="text" name="payment[{{@payment_field}}]" placeholder="{{@payment_text}}" value="{{ @info[payment][@payment_field] }}">
                        </label>
                    </div>
                </section>
            </div>
            <div class="col-md-6">
                <set payment_icon  = 'calendar' />
                <set payment_field = 'cc_exp_date' />
                <set payment_text  = 'Exp. Date' />
                <section class="col col-lg-6 col-md-12">
                    <label for="payment[{{@payment_field}}]" class="col-sm-4">{{@payment_text}} {{ @is_required('payment|'.@payment_field) }}</label>
                    <div class="col-sm-8">
                        <label class="input">
                            <i class="icon-append fa fa-{{ @payment_icon}}"></i>
                            <input type="text" name="payment[{{@payment_field}}]" placeholder="{{@payment_text}}" value="{{ @info[payment][@payment_field] }}" id="cc_exp_date">
                        </label>
                    </div>
                </section>
                <set payment_icon  = 'lock' />
                <set payment_field = 'cc_cvv' />
                <set payment_text  = 'CVV' />
                <section class="col col-lg-6 col-md-12">
                    <label for="payment[{{@payment_field}}]" class="col-sm-4">{{@payment_text}} {{ @is_required('payment|'.@payment_field) }}</label>
                    <div class="col-sm-8">
                        <label class="input">
                            <i class="icon-append fa fa-{{ @payment_icon}}"></i>
                            <input type="text" name="payment[{{@payment_field}}]" placeholder="{{@payment_text}}" value="{{ @info[payment][@payment_field] }}" id="cc_cvv">
                        </label>
                    </div>
                </section>
            </div>
        </div>
    </div>
</fieldset>