body {overflow: auto;}
.row {margin-right: 0;margin-left: 0;}
.required {color: #D9534F;}
.form-group label {font-weight: normal;}
.title {margin-bottom: 10px; line-height: 40px; font-size: 20px; padding-left: 5px;}
label.form_error {color: #D9534F; font-size: 12px;}
input.form_error, select.form_error, textarea.form_error {border-color: #D9534F!important; background-color: #FDE8E8!important;}
.smart-form .select i {background: transparent; box-shadow: 0 0 0 9px transparent;}
.bootstrap-timepicker-widget table td input {width: 30px;}
.bootstrap-timepicker-widget a.btn, .bootstrap-timepicker-widget input {-webkit-border-radius: 0px;-moz-border-radius: 0px;border-radius: 0px;}
.bootstrap-timepicker-widget table td a {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
.bootstrap-timepicker-widget table td a:hover {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    background-color: #fcfcfc;
    border-color: #eee;
}
label.checkbox, label.radio {font-size:14px!important; color: rgb(102,102,102)!important;}
.reservation_title {color: #09234E;font-size: 48px;font-weight: 900;}
.reservation_sub_title {font-size: 28px;font-weight: 200;}

.fa:before {font-family: fontAwesome!important;}
img.scale-with-grid, #Content img {max-width: inherit!important;}
#logo img {width: initial!important;}