<!-- Check with header should be loaded -->
<check if="{{ @load_view == 'custom' }}">
    <true><include href="../../ui/view/custom_header.htm" /></true>
    <false><include href="header.htm" /></false>
</check>
<!-- End Check -->
<include href="{{ @view }}" />
{{ @header }}
<script>
    var app_info = '<?php echo base64_encode(json_encode($required_fields)); ?>';
</script>
<!-- Check with footer should be loaded -->
<check if="{{ @load_view == 'custom' }}">
    <true><include href="../../ui/view/custom_footer.htm" /></true>
    <false><include href="footer.htm" /></false>
</check>
<!-- End Check -->