<set is_confirmation = 'disabled' />
<section style="margin-bottom: 30px;">
    <form action="#" method="post" class="smart-form" novalidate="novalidate">
		<div class="alert alert-success fade in">
			<i class="fa-fw fa fa-check"></i>
			<strong>We got your reservation!</strong> Reservation code: {{@info[reservation][uniq_id]}}
		</div>	
		<check if="{{ @email_error == 1}}">
			<div class="alert alert-danger fade in">
				<i class="fa-fw fa fa-times"></i>
				<strong>E-mail not send!</strong> Please call us at {{ @company_phone }} and tell us your reservation code.
			</div>			
		</check>
		<p>Thanks for your reservation. Follow below all information about it. You will receive an email in a short time.</p>
        <include href="reservation/_partials/1_user_info.htm" />
		<include href="reservation/_partials/2_location_trip.htm" />
		<include href="reservation/_partials/3_location_roundtrip.htm" />
		<div class="alert alert-info fade in">
				<i class="fa-fw fa fa-info"></i>
				<strong>Payment Info</strong> Credit card informations hidden for safety purpose
			</div>
    </form>
</section>