<check if="{{ @message }}">
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>{{ @message|raw }}</strong>
    </div>
</check>
<section style="margin-bottom: 30px;">
	<form action="{{ @BASE.'/create' }}" method="post" class="smart-form" id="reservation_form" novalidate="novalidate">
		<include href="reservation/_partials/1_user_info.htm" />
		<include href="reservation/_partials/2_location_trip.htm" />
		<include href="reservation/_partials/3_location_roundtrip.htm" />
		<include href="reservation/_partials/4_payment.htm" />
		<include href="reservation/_partials/5_terms_and_conditions.htm" />
		<check if="{{ @use_captcha == true}}">
			<true><include href="reservation/_partials/6_captcha.htm" /></true>
			<false><include href="reservation/_partials/6_no_captcha.htm" /></false>
		</check>
		<input type="hidden" name="create" value="create" />
	</form>
</section>
<include href="terms/modal.htm" />
